* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

.container {
  /* border: .3rem solid seagreen;
    padding: 3rem;
    border-radius: .5rem; */
}

h2 {
  /* margin-bottom: 1rem; */
  text-align: center;
  background-color: rgb(11, 86, 43);
  padding: 0.4rem;
  color: whitesmoke;
  font-size: 2.5rem;
  font-weight: 600;
}

.main-content {
  background-color: whitesmoke;
  height: 17rem;
  width: 55rem;
  color: black;
  padding: 1.3rem;
  text-align: center;
  align-items: center;
}

.text-area {
  margin-top: 4rem;
  font-size: 1.5rem;
}

.author {
  margin-top: 2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: rgb(196, 66, 66);
}

.button-area {
  margin-top: 1rem;
}

button {
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  margin: 0;
  border: 0;
  color: whitesmoke;
  cursor: pointer;
  background-color: seagreen;
}

.button-area button:active {
  background-color: white;
  color: black;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .main-content {
    width: 20rem;
    height: 16rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .text-area {
    font-size: 1rem;
  }

  .author {
    font-size: 1rem;
  }

  button {
    font-size: 0.8rem;
  }
}
